body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  margin: 1px;
  padding:1px;
  border:1px solid green;
}

#titulo {
  font-size: medium;
  font-family: monospace;
  color: greenyellow;
}

#minha_foto {
  height: 350px;
  width: 275px;
}

#licoes_aprendidas {
  margin-top: 500px;
}

#licoes {
  width: 100px;
  height: 100px;
  display: inline-block;
}

#articles {
  width: 500px;
}

article {
  font-family: monospace;
  line-height: 5mm;
}

footer {
  margin-top:10px;
}
table {
  margin-top:20px;
}

