* {
box-sizing: border-box;
margin: 0;
padding: 0;

}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  margin: 1px;
  padding: 1px;
  border: 1px solid green;
}

#titulo {
  font-size: medium;
  font-family: monospace;
  color: greenyellow;
}

#minha_foto {
  height: 350px;
  width: 275px;
}

#lists {
  margin-top: 450px;
  border: 1px solid black;
  width: fit-content;
}

.lado-direito,.lado-esquerdo {
  display: inline-block;
  background-color: brown;
  list-style-position: inside;
  padding: 8px;
  margin-left: 8px;
}

article {
  width: 500px;
  margin: 10px;
  font-family: monospace;
  line-height: 5mm;
}

aside {
  width: 500px;
  margin: 10px;
  font-family: monospace;
  line-height: 5mm;
}

footer {
  margin-top: 10px;
  width: 500px;
}

table {
  margin-top: 20px;
}

