* {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
  margin: 10px;
}

#minha_foto {
  height: 350px;
  width: 285px;
}

nav {
  margin-left: 42px;
}

#content {
  height:1200px;
  width: 500px;
  background-color: green;
  display:inline-block;
}

#aprendizados{
  height: 45%;
  width: 45%;
  background-color: green;
  display:inline-block;
}


#container_a{
  background-color: aqua;
  
}

#container_b{
  background-color: red;
  
}

h2 {
  text-decoration: underline;
  text-decoration-color: black;
  font-size: 20px;
}

#articles {
    width: 45%
}

footer{
  margin:10px
}


